<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Planify</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="row">

        <div class="col-md-9">
            <div class="jumbotron">
                <h1>Planify</h1>
                <p class="lead">간편하게 할 일을 관리하세요 !</p>
                <div class="row">

                    <div class="col-sm-4">
                        <a th:href="@{/todo/create}" style="text-decoration:none;">
                            <div class="card">
                                <div class="icon-container icon-new">
                                    <i class="fas fa-plus-circle card-icon"></i>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">NEW</h5>
                                    <p class="card-text">새로운 할 일을 등록하세요.</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-4">
                        <a th:href="@{/todo/list(status='진행중')}" style="text-decoration:none;">
                            <div class="card">
                                <div class="icon-container icon-pg">
                                    <i class="fas fa-tasks card-icon"></i>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">TO-DO</h5>
                                    <p class="card-text">현재 진행 중인 할 일을 확인하세요.</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-4">
                        <a th:href="@{/todo/list}" style="text-decoration:none;">
                            <div class="card">
                                <div class="icon-container icon-all">
                                    <i class="fas fa-list-ul card-icon"></i>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">ALL</h5>
                                    <p class="card-text">모든 할 일 목록을 확인하세요.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="todo-container">
                        <h3>진행 중인 할 일</h3>
                        <ul class="todo-list">
                            <li th:each="todo : ${todosInProgress}" th:if="${todo.status.name() == '진행중'}"
                                class="todo-item">
                                <span class="todo-item-icon">&#x2714;</span> <!-- 체크 아이콘 -->
                                <span class="todo-item-content" th:text="${todo.content}">할 일 내용</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4">
                    <h3>진행률</h3>
                    <div class="progress">
                        <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar"
                             th:style="'width:' + ${completionRate} + '%'"
                             th:attr="aria-valuenow=${completionRate}, aria-valuemin=0, aria-valuemax=100"
                             th:text="${completionRate} + '%'">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <h3>태그</h3>
            <div class="tag-container">
                <div class="tags d-flex flex-wrap">
                    <span class="tag" th:each="keyword : ${keywords}">
                        <a th:href="@{/todo/list(tag=${keyword.content})}" class="tag-text"
                           th:text="${keyword.content}">태그</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>
        $(document).ready(function () {
            // URL에서 쿼리 파라미터 확인
            const urlParams = new URLSearchParams(window.location.search);
            const todoCreated = urlParams.get('todoCreated');

            // 'todoCreated' 쿼리 파라미터가 'true'일 경우 알림 표시
            if (todoCreated === 'true') {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 4000
                };
                toastr.success('할 일이 성공적으로 등록되었습니다!');
            }
        });
    </script>
</body>
</html>