<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Planify</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div class="row">
        <div class="col-12 col-lg-9">
            <div class="row">
                <div class="col-6 col-lg-4 col-md-6">
                    <a th:href="@{/todo/create}" style="text-decoration:none;">
                        <div class="card">
                            <div class="card-body px-4 py-4-5">
                                <div class="row">
                                    <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                        <div class="stats-icon purple icon-new">
                                            <i class="fas fa-plus-circle card-icon"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                        <h6 class="card-text-bold">NEW</h6>
                                        <h6 class="card-text">새로운 할 일을 등록하세요.</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-lg-4 col-md-6">
                    <a th:href="@{/todo/list(status='진행중')}" style="text-decoration:none;">
                        <div class="card">
                            <div class="card-body px-4 py-4-5">
                                <div class="row">
                                    <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                        <div class="stats-icon blue icon-pg">
                                            <i class="fas fa-tasks card-icon"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                        <h6 class="card-text-bold">TO-DO</h6>
                                        <h6 class="card-text">현재 진행 중인 할 일을 확인하세요.</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-lg-4 col-md-6">
                    <a th:href="@{/todo/list}" style="text-decoration:none;">
                        <div class="card">
                            <div class="card-body px-4 py-4-5">
                                <div class="row">
                                    <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                        <div class="stats-icon green icon-all">
                                            <i class="fas fa-tasks card-icon"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                        <h6 class="card-text-bold">ALL</h6>
                                        <h6 class="card-text">모든 할 일 목록을 확인하세요.</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <h3>진행 중인 할 일</h3>
                        </div>
                        <div class="card-body">
                            <ul class="todo-list">
                                <li th:each="todo : ${todosInProgress}" th:if="${todo.status.name() == '진행중'}"
                                    class="todo-item">
                                    <span class="todo-item-icon">&#x2714;</span> <!-- 체크 아이콘 -->
                                    <span class="todo-item-content" th:text="${todo.content}">할 일 내용</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-8">
                    <div class="card">
                        <div class="card-header">
                            <h3>진행률</h3>
                        </div>
                        <div class="card-body">
                            <div class="progress">
                                <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar"
                                     th:style="'width:' + ${completionRate} + '%'"
                                     th:attr="aria-valuenow=${completionRate}, aria-valuemin=0, aria-valuemax=100"
                                     th:text="${completionRate} + '%'">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-3">
            <div class="card">
                <div class="card-header">
                    <h3>태그</h3>
                </div>
                <div class="card-content">
                    <div class="tag-container">
                        <div class="tags d-flex flex-wrap">
                        <span class="tag" th:each="keyword : ${keywords}">
                            <a th:href="@{/todo/list(tag=${keyword.content})}" class="tag-text"
                               th:text="${keyword.content}">태그</a>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // URL에서 쿼리 파라미터 확인
        const urlParams = new URLSearchParams(window.location.search);
        const todoCreated = urlParams.get('todoCreated');

        // 'todoCreated' 쿼리 파라미터가 'true'일 경우 알림 표시
        if (todoCreated === 'true') {
            toastr.options = {
                closeButton: true,
                progressBar: true,
                showMethod: 'slideDown',
                timeOut: 4000
            };
            toastr.success('할 일이 성공적으로 등록되었습니다!');
        }
    });
</script>
</body>
</html>