body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

.fieldError {
    border-color: #bd2130;
}

.jumbotron {
    text-align: center;
    border: 1px solid #e5e5e5;
    background-color: transparent;
    margin-bottom: 20px;
    padding: 20px;
}

.jumbotron p {
    margin-bottom: 10px;
}

.jumbotron .btn {
    font-size: 20px;
    width: 180px;
    height: 50px;
    display: inline-block;
    margin: 10px;
    border: 2px solid #007bff;
    color: #007bff;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s; /* 부드러운 전환 효과 */
}

.jumbotron .btn:hover {
    background-color: #007bff;
    color: #ffffff;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.tag {
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 3px 8px;
    background-color: #f0f0f0;
    border-radius: 15px;
    display: inline-flex;
    align-items: center;
}

.tag-text {
    margin-right: 5px;
}

.todo-content {
    color: black;
}

.todo-content:hover {
    color: #005cbf;
}

.todo-list {
    list-style: none;
    padding: 0;
}

.todo-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.todo-item-icon {
    margin-right: 15px;
    color: #666;
}

.todo-item-content {
    flex: 1;
}