/* 콘텐츠를 약간 여백을 주세요 */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* 모든 것이 jumbotron을 제외한 요소에는 모바일 우선 보기에서 측면 여백을 제공합니다 */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* 사용자 정의 페이지 헤더 */
.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

@media (min-width: 768px) {
    .container {
        max-width: 930px;
    }
    .container-narrow > hr {
        margin: 30px 0;
    }
}

/* 주요 마케팅 메시지와 가입 버튼 */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
}

.jumbotron .btn {
    font-size: 21px;
    width: 200px;
    height: 50px;
    display: inline-block;
    margin: 10px;
}

.fieldError {
    border-color: #bd2130;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.tag {
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 3px 8px;
    background-color: #f0f0f0;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.tag-text {
    margin-right: 5px;
}

.tag-delete {
    cursor: pointer;
}