<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="../static/script.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
    <h1>To-do list</h1>
    <form method="post" action="/addTodo">
        <input type="text" name="todo" placeholder="오늘 할 일을 등록해주세요!" onclick="clearPlaceholder(this)" />
        <input type="submit" value="등록" />
    </form>
    <hr>
    <ul>
        <li th:each="todo : ${todos}">
            <span th:text="${todo.content}"></span>
            <span th:text="${todo.isCompleted}"></span>
            <span th:text="${todo.priority}"></span>
            <span th:text="${todo.deadline}"></span>
            <span th:text="${todo.createdAt}"></span>
            <span th:text="${todo.updatedAt}"></span>
        </li>
    </ul>
</div>
</body>
</html>